<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16284471065-itnmvg294m7p249dutavp62ainnnk16c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16284471065-itnmvg294m7p249dutavp62ainnnk16c</string>
	<key>API_KEY</key>
	<string>AIzaSyBtZuXoLE5TQqbLdLUhaB6YuvEgWVUE13c</string>
	<key>GCM_SENDER_ID</key>
	<string>16284471065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teamsMaker</string>
	<key>PROJECT_ID</key>
	<string>teams-maker-1</string>
	<key>STORAGE_BUCKET</key>
	<string>teams-maker-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16284471065:ios:c4d880fbfaad4a3abbff88</string>
</dict>
</plist>